<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
    <title>ToDo with Vue</title>
</head>
<body id = "body">
    <div id="app"><h2 id = "title">{{ title }}</h2>
        <div id = "flexRowInputAndButton">
             <input id = "inputBox" type="text" v-model="newTask">
             <button @click="addTask" id = "addTaskBtn">Add task</button>
             <input id = "searchBox" type="text" v-model="search" placeholder="Search...">
        </div>
        
        <ul>
            <li v-for="x in tasks" v-show="x.includes(search)">

                <div id = "divFlex">
                    <div>
                        {{ x }}
                    </div>

                    <div>
                        <button id = "deleteBtn" class = "taskBtn" @click="deleteTask(x)">X</button>
                        <button id = "editBtn" class = "taskBtn" @click="editTask(x)">E</button>
                    </div>
                    
            
                </div>
            </li>
        </ul>
    </div>

    

    
</body>
</html>