#body{
    margin: 0;
    background-color: lavender;
 }

#app{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
}

#title{
    margin-top: 10%;
}

ul {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
    background-color: plum;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    color: black;
    overflow-wrap: break-word;
}

#inputBox {
    height: 20px;
}

#flexRowInputAndButton {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#addTaskBtn {
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 170, 48);
    color: white;   
    margin: 5px 0 30px 0; 
}

#divFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

#divFlex div {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    height: fit-content;
}

#divFlex button {
    padding: 10px;
    font-size: medium;
    border: none;
    color: white;
}

#editBtn {
    background-color: rgb(115, 129, 219);
    border-radius: 0 5px 5px 0;
}

#deleteBtn {
    background-color: rgb(205, 52, 52);
    border-radius: 5px 0 0 5px;
}

#searchBox {
    height: 20px;
    width: 40%;
    margin: 10px auto;
}