#body{
    margin: 0;
 }

#app{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin-top: 10%;
}

#addTaskBtn{
    margin-top: 5%;
    border-radius: 5%;    
}

#taskCard{
    background-color: burlywood;
    margin-bottom: 5%;
    border-radius: 6px;
    padding:10%;
}

#divFlex{
    display: flex;
    flex-direction: row;

}
li{
    list-style: none;

}